@charset "UTF-8";
/*
**overlay mixinin
**add overlay to any elements
*/
/*
**prixix mixin
**add prifixs to any css3 property
*/
/*
**border radius 50% mixin
*/
/*
**display flex with dynamic justify content 
*/
/*
**animation mixin
*/
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
@media (min-width:768px) {
  .container {
    width: 750px;
  }
}
@media (min-width:992px) {
  .container {
    width: 970px;
  }
}
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: tahoma;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 1.8;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* placeholder for display flex*/
.about {
  height: 100vh;
  padding: 20px 0;
}
.about .gradient-btn {
  margin: 0px auto;
}
.about .container {
  height: calc(100% - 70px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
@media ((max-width:767px)) {
  .about .container {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
}
.about .container .about-img {
  display: flex;
  align-items: center;
  width: 400px;
  height: 300px;
  position: relative;
}
@media ((max-width:767px)) {
  .about .container .about-img {
    width: 100%;
  }
}
.about .container .about-img .img-frame {
  position: absolute;
  width: 340px;
  height: 260px;
  border: 10px solid #f69798;
  left: 30px;
  top: 18px;
}
.about .container .about-img img {
  position: absolute;
  width: 330px;
  height: 180px;
  border-radius: 4px;
}
.about .container .about-info {
  width: calc(100% - 500px);
}
@media ((max-width:767px)) {
  .about .container .about-info {
    width: 100%;
  }
}
.about .container .about-info h2 {
  font-size: 30px;
}
.about .container .about-info .about-par {
  color: #9c9c9c;
  margin: 40px 0;
}
.about .container .about-info .about-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.about .container .about-info .about-icons .about-box {
  position: relative;
  width: 160px;
  height: 160px;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.about .container .about-info .about-icons .about-box img {
  width: 60px;
  height: 60px;
}
.about .container .about-info .about-icons .about-box p {
  position: absolute;
  bottom: 0;
  color: #666;
  text-align: center;
  transition: width 0.3s ease-in-out;
  z-index: 3;
}
.about .container .about-info .about-icons .about-box::after {
  position: absolute;
  content: "";
  right: 5px;
  top: 5px;
  border-style: solid;
  border-color: transparent;
  border-width: 10px;
  border-top-color: #e2494c;
  border-right-color: #e2494c;
}
.about .container .about-info .about-icons .about-box::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 80%;
  background-color: #aedbfc;
  opacity: 0.7;
  left: 0;
  top: 0;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}
.about .container .about-info .about-icons .about-box:hover::before {
  width: 100%;
}

.main-heading {
  color: #4d4c4c;
  position: relative;
  padding-bottom: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid #2eca7f;
  font-weight: bold;
}
.main-heading::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 8px;
  background-color: #2eca7f;
  border-radius: 8px;
  left: 0;
  bottom: -4px;
}

.about-heading {
  color: #e2494c;
  position: relative;
}
.about-heading::after {
  position: absolute;
  content: "";
  background-color: #e2494c;
  width: 30px;
  height: 1px;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
}
.about-heading::before {
  position: absolute;
  content: "";
  border: 1px solid #e2494c;
  width: 10px;
  height: 10px;
  left: -45px;
  top: 50%;
  transform: translateY(-50%);
}

.main-green-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  background-color: #2eca7f;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  border: 2px solid #2eca7f;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.main-green-btn i {
  position: relative;
  margin-right: 5px;
  background-color: #fff;
  color: #2eca7f;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  z-index: 3;
}
.main-green-btn span {
  position: relative;
  z-index: 3;
}
.main-green-btn::after {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  transition: width 0.3s ease-in-out;
  z-index: 2;
}
.main-green-btn:hover::after {
  width: 100%;
}
.main-green-btn:hover {
  color: #000;
}
.main-green-btn:hover i {
  color: #fff;
  background-color: #2eca7f;
}

.gradient-btn {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 52px;
  padding: 10px;
  border-radius: 52px;
  font-weight: 700;
  color: #000;
  background: #fff;
}
.gradient-btn:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit; /* !importanté */
  background: linear-gradient(to right, red 20%, orange 20%, orange 40%, green 40%, green 60%, yellow 60%, yellow 80%, blue 80%);
}/*# sourceMappingURL=about.css.map */