.about{
    height: 100vh;
    padding:20px 0;
    .gradient-btn{
        margin: 0px auto;
    }
    .container{
        
        height:calc(100% - 70px);
        @include dFlex(space-between);
        gap:40px;
        flex-wrap: wrap;
        @media($maxSmall){
            height: auto;
            flex-direction: column;
            justify-content: center;
        }
       
        
        .about-img{
            display:flex;
            align-items: center;
            width:400px;
            height:300px;
            position: relative;
          
            @media($maxSmall){
                width: 100%;
            } 
            
           .img-frame{
            position: absolute;
            width: 340px;
            height:260px;
            border: 10px solid $aboutRedColor;
            left:30px;
            top:18px;
            
           }
            img{
                position: absolute;
                width: 330px;
                height: 180px;
                border-radius: 4px;
               
               

            }

        }
        .about-info{
            width:calc(100% - 500px);
            @media($maxSmall){
                width: 100%;
            }
            h2{
                font-size: 30px;

            }
            h5{

            }
            .about-par{
                color: $grayColor;
                margin:40px 0;

            }
            .about-icons{
                @include dFlex(space-between);
                gap: 10px;
                .about-box{
                    position: relative;
                    width:160px;
                    height: 160px;
                    border: 1px solid #eee;
                    @include dFlex(space-evenly);
                    flex-direction: column;
                    img{
                        width:60px;
                        height: 60px;
                    }
                    p{
                        position: absolute;
                        bottom: 0;
                        color: #666;
                       
                      
                        text-align: center;
                        transition:width 0.3s ease-in-out;
                        z-index: 3;
                    }
                    &::after{
                        position: absolute;
                        content: "";
                        right:5px;
                        top:5px;
                        border:{
                            style:solid;
                            color: transparent;
                            width: 10px;
                           
                        }
                        border-top-color: $redColor;
                        border-right-color: $redColor;
                        
                    }
                    &::before{
                        position: absolute;
                        content: "";
                        width: 0%;
                        height: 80%;
                        background-color: #aedbfc;
                        opacity: 0.7;
                        left: 0;
                        top:0;
                        transition: width 0.3s ease-in-out;
                        z-index: -1;
                    }
                    &:hover::before{
                        width: 100%;
                        
                    }
                  
                }
            }

        }
    }
}